<!DOCTYPE html>
<html>
<head>
  <title>
    Login
  </title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>

  <header>Give Birth To Your Account</header>

  <div>

    <form id="BirthAccount" method="post" action="/create_account">

      <p><input type="text" name="make_username" placeholder="Enter Username"></p>
      <p><input type="password" name="make_password" placeholder="Enter Password"></p>
      <p><input type="url" name="avatar_url" placeholder="Choose Your Avatar Link"><p>

      <p><input type="submit" value="Sign Up"></p>

    </form>

  </div>

</body>
</html>
