<!DOCTYPE html>
<html>
<head>
  <title>
    Login
  </title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>

  <header>Can You Pass?</header>

  <div>
    <form id="LogMeIn" method="post" action="/login">
      <p><input type="text" name="give_username" placeholder="Enter Username"></p>
      <p><input type="password" name="give_password" placeholder="Enter Password"></p>
      <p><input type="submit" value="Sign In"></p>
    </form>
  </div>

  <div>
    <form id="MakeAccount" method="post" action="/create_account">
      <p>Don't have an account?</p>
      <p>Click the button below to create an account<p>
      <p><input type="submit" value="Sign Up"></p>
    </form>
  </div>

</body>
</html>
