<!DOCTYPE html>
<html>
<head>
  <title>
    Login
  </title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>

  <header>Can You Pass?</header>

  <div class="signin">
    <form method="post" action="/login">
      <p><input type="text" name="give_username" placeholder="Enter Username"></p>
      <p><input type="password" name="give_password" placeholder="Enter Password"></p>
      <p><input type="submit" value="Sign In"></p>
    </form>
  </div>

</body>
</html>
