<!DOCTYPE html>
<html>
<head>
  <title>
    Login
  </title>
</head>
<body>
  <h1>Welcome to Login Page</h1>

  <form method="post" action="/login">
    <p><input type="text" name="give_username"></p>
    <p><input type="password" name="give_password"></p>
    <p><input type="submit" value="Sign In"></p>
  </form>

</body>
</html>
