body{
  background-color: white;
}

header{
  font-size: 3em;
  text-align: center;
}

/*.signin{
  border: 10px solid black;
  text-align: center;
}*/

form{
  background-color: salmon;
  border: 10px dashed white;
  text-align: center;
  width: 500px;
}

input[type=text], input[type=password]{
  border: 1px solid white;
  border-radius: 8px;
  height: 30px;
  width: 200px;
}

input[type=submit]{
  border: 1px solid white;
  background-color: lightgray;
  height: 20px;
  width: 100px;
}
