body{
  background-color: white;
}

header{
  font-size: 3em;
  text-align: center;
  font-family: Bookman, Garamond, Palatino, Georgia;
  margin-top: 25px;
}

strong{
  color: salmon;
  font-weight: bolder;
  text-decoration: line-through;
  text-transform: uppercase;
}

/*This class will set the avatar div to be at 230px so that the images within it will resize itself to 100% of that avatar_container width.*/
.avatar_container{
  width: 230px;
}

img{
  width: 100%;
  height: auto;
}

.kidding{
  font-size: .4em;
  font-family: Bookman, Garamond, Palatino, Georgia;
  text-align: center;
}

.kidding_again{
  font-size: .4em;
  font-family: Bookman, Garamond, Palatino, Georgia;
}

/*.signin{
  border: 10px dotted lightgray;
  border-radius: 15px;
  width: 520px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}*/

#LogMeIn, #BirthAccount{
  background-color: salmon;
  border: 10px dashed white;
  border-radius: 30px;
  text-align: center;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

#MakeAccount{
  text-align: center;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

input[type=text], input[type=password], input[type=url]{
  border: 1px solid white;
  border-radius: 8px;
  padding-left: 7px;
  height: 30px;
  width: 200px;
}

input[type=submit], #sign_up, #sign_out{
  border: 1px solid white;
  border-radius: 8px;
  background-color: lightgray;
  height: 25px;
  width: 100px;
}
