<!DOCTYPE html>
<html>
<head>
  <title>
    Login
  </title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>

  <header>You Shall <strong>not</strong> Pass</header>
  <p class="kidding">I was kidding. You are granted access. :)</p>

  <article>
    <h1>Welcome {{ loginName }}!</h1>
    <div class="avatar_container"><img src="{{loginAvatar}}"></div>
    <p>You logged in exactly {{loginTimes}}.{{loginTimesRandom}} times!</p>
    <p class="kidding_again">It was a joke...it was a joke. Really, you logged in {{loginTimes}} times.</p>

    <form id="LogMeOut" method="post" action="/">
    <input type="submit" value="Log Out">
    </form>

  </article>

</body>
</html>
