<!DOCTYPE html>
<html>
<head>
  <title>
    Login
  </title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>

  <header>You Shall Pass</header>

  <article>
    <h1>You Made It Here, {{ loginName }}!</h1>
  </article>

</body>
</html>
