<!DOCTYPE html>
<html>
<head>
  <title>
    Login
  </title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>

  <header>You Shall <strong>not</strong> Pass</header>
  <p class="kidding">I was kidding. You are granted access. :)</p>

  <article>
    <h1>You Made It Here, {{ loginName }}!</h1>

    <p>You exactly logged in {{ loginTimes }} times!</p>

    <button id="sign_out">Sign Out</button>
    
  </article>

</body>
</html>
